.numbers

    &_hidden
        display none

    &__formula
        font-size 28px
        line-height 1

    &__item
        display inline-block
        vertical-align top

    &__value
        display block

    &__month
        display block
        text-align center
        color #555f64
        font-size 14px
