.numbers

    &_hidden
        display none

    &__formula
        font-size 28px
        line-height 1

    &__january
        padding-left 315px
        color #555f64
        font-size 14px

    &__february
        padding-left 145px
        color #555f64
        font-size 14px
